<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil del Artista - Da Vinci</title>
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Leonardo da Vinci</h2>
        <img src="../statics/css/imagen/da_vinci.jpg" alt="Leonardo da Vinci" class="img-perfil">
        
        <p>Considerado el máximo exponente del Renacimiento, Leonardo fue pintor, anatomista, arquitecto, paleontólogo y científico. Su dominio de la técnica del 'sfumato' y su curiosidad infinita dieron vida a obras icónicas como "La Gioconda" y "La última cena". Representa la unión perfecta entre el arte y la ciencia.</p>
            
        <a href="../index.html">
            <button class="btn-back">Volver al Menú de Inicio</button>
        </a>
    </div>
</body>
</html>