<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil del Artista - Picasso</title>
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Pablo Picasso</h2>
        <img src="../statics/css/imagen/picasso.jpg" alt="Pablo Picasso" class="img-perfil">
        
        <p>Cofundador del movimiento cubista, el artista español Pablo Picasso revolucionó la pintura al romper con la perspectiva tradicional. Su capacidad para reinventar su estilo a lo largo de diversas etapas (azul, rosa, cubista) lo convirtió en uno de los genios más versátiles e influyentes del siglo XX.</p>
            
        <a href="../index.html">
            <button class="btn-back">Volver al Menú de Inicio</button>
        </a>
    </div>
</body>
</html>