<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil del Artista - Van Gogh</title>
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Vincent van Gogh</h2>
        <img src="../statics/css/imagen/van_gogh.jpg" alt="Vincent van Gogh" class="img-perfil">
        
        <p>Figura clave del postimpresionismo, Van Gogh utilizó colores vibrantes y pinceladas audaces para expresar sus emociones. Aunque solo vendió un cuadro en vida, su influencia en el arte moderno es incalculable. Obras como "La noche estrellada" muestran su visión única y apasionada del mundo.</p>
            
        <a href="../index.html">
            <button class="btn-back">Volver al Menú de Inicio</button>
        </a>
    </div>
</body>
</html>